@media print {
  .dwnldpdf {
    display: none !important;
  }

}

@media print {
  body {
    zoom: 80%;
  }
}
.applicant-header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 28px; /* Increased font size for the header */
  font-weight: bold; /* Bold font for the header */
}

/* input:read-only {
  cursor: not-allowed;
} */